* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: ghostwhite;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sameline {
  display: flex;
  flex-flow: row wrap;
}
.button {
  font-size: large;
  padding: 10px 20px 10px 20px;
  background-color: #ff0081;
  border: 0;
  color: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 5px 15px rgba(240, 73, 190, 0.4);
  transition: 1s;
}
.button:hover {
  color: #ff0081;
  background-color: #f8faff;
  transition: 1s;
}
.container {
  display: flex;
  border-radius: 20px;
  position: relative;
}
.innershadow {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.bgimage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.blackover {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}
.quote {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5vh;
  transition: ease-in-out 1s;
  z-index: 2;
}

.quote:hover {
  transition: ease-in-out 1s;
  text-shadow: 0 0 7px #fff;
}
.author {
  font-size: 4vh;
  text-align: right;
  margin-top: 20px;
}
@media all and (orientation: portrait) {
  .quote {
    font-size: 3vh;
  }
  .container {
    min-height: 80vw;
    width: 80vw;
  }
}
@media all and (orientation: landscape) {
  .container {
    min-height: 80vh;
    width: 80vh;
  }
}
